#container {
  border: 10px solid darkgrey;
  width: 500px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

#display {
  border: 5px solid darkgray;
  border-radius: 5px;
  width: 90%;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  background: lightblue;
}
#display p {
  font-size: 35px;
}
button {
  width: 115px;
  height: 50px;
  margin: 5px;
  background: darkgray;
  font-weight: 900;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

#equals {
  width: 98%;
}
